body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
}
h1, h2 {
    transition: 0.5s;
}
h2 {
    font-size: 24px;
}
main {
    padding: 20px;
    height: fit-content;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.btn {
    transition: 0.5s;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}
.btn:hover {
    background-color: #45a049;
    box-shadow: 3px 3px 10px #38d83e;
}
form {
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    padding: 30px;
}
form button {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}
input {
    width: 100%;
    height: 30px;
}
textarea {
    width: 100%;
}
input, textarea {
    border: 2px solid #4CAF50;
}
textarea, input, form, form button {
    border-radius: 15px;
}

@media (max-width: 700px) {
    h1 {
        font-size: 24px;
    }
}